Django==2.2.18
django-admin-sortable2==0.7.2
django-any-imagefield==1.0
django-any-urlfield==2.6.1
django-ckeditor==6.0.0
django-classy-tags==0.9.0
django-filebrowser-no-grappelli==3.8.0
django-fluent-utils==2.0.1
django-formtools==2.3
django-js-asset==1.2.2
django-mptt==0.11.0
django-nested-admin==3.3.3
django-parler==2.2
django-polymorphic==3.0.0
django-polymorphic-tree==1.5.1
django-salmonella==1.2.1
django-slug-preview==1.0.4
django-tag-parser==3.2
django-template-analyzer==1.6.2
django-wysiwyg==0.8.0
docutils==0.16
easy-thumbnails==2.7.1
future==0.18.2
gunicorn==20.0.4
html5lib==1.1
importlib-metadata==3.4.0
Markdown==3.3.3
mysqlclient==2.0.3
Pillow==8.1.0
Pygments==2.8.0
python-monkey-business==1.0.0
pytils==0.3
pytz==2021.1
regex==2020.11.13
simplejson==3.16.0
six==1.15.0
sqlparse==0.4.1
textile==4.0.1
typing-extensions==3.7.4.3
urllib3==1.26.3
webencodings==0.5.1
zipp==3.4.0
