{% extends "wizard_template.html" %}

{% block title_wizard %}
    СЧИТАЕТЕ ЛИ ВЫ ПРЕДЛАГАЕМЫЕ МЕРЫ ДОСТАТОЧНЫМИ ДЛЯ ПОДДЕРЖКИ БИЗНЕСА БЕЛГОРОДЧИНЫ?
{% endblock %}
{% block form_wizard %}
    {% if ok == 'True' %}

    {% endif %}
    {% include "input_field.html" with f=wizard.form.answer %}
{% endblock %}
{% block button_wizard %}
    <div class="row mt-3">
        <div class="col-md-12 d-flex justify-content-center">
            <input type="submit" class="btn btn-primary" value="Проголосовать"/>
        </div>
    </div>
{% endblock %}